/**
 * ############################
 * ## Tipografías importadas ## 
 * ############################
 *
 * Es posible importar tipografías de páginas como https://fonts.googlapis.com. En este caso
 * importamos la tipografía Roboto de Google Fonts por medio de un "@import". Es obligatorio 
 * que todos los imports esten ubicados al inicio del documento (antes del primer selector).
 *
 * También es posible importar tipografías que hayamos descargado previamente. Los
 * formatos más habituales son: ".ttf", ".otf" y ".woff".
 *
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/**
 * #######################################################
 * ## Variables personalizadas / Unidad de medida "rem" ## 
 * #######################################################
 *
 * En CSS es posible crear variables personalizadas. Por norma general, estas variables
 * se declaran en el elemento raíz (root), es decir, en la etiqueta <html> para que esten
 * disponibles en el resto de elementos. Las variables personalizadas deben empezar de forma
 * obligatoria por dos guiones, por ejemplo: "--mi-color-personalizado". Para hacer uso de
 * una variable personalizada es obligatorio especificar la variable de la siguiente manera:
 * "var(--mi-color-personalizado)".
 *
 * La unidad "rem" tiene como referencia de medida el font-size del elemento root (la
 * etiqueta html). Por lo general los navegadores aplican a la raíz un tamaño de fuente
 * de 16px, por lo que, salvo que se indique lo contrario: 1rem = 16px.
 *
*/
@import 
url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    font-size: 20px;
    background-color: #202020;
    color: white;
}
section > p,
section > li {
    /* Grosor de 300*/
    font-weight: 300;
}
h1{
    text-align: center;
    }
#primerParrafo{
    text-align: center;
}
#categorias{
    text-align: center;
}
a{
    color:white;
}
h2{
    text-align: center;
    border:white;
    border-style: solid;
}
span{
    font-weight:700;
    display: list-item;
    margin-left : 1em; 
}


/* Algunas propiedades relacionadas con la tipografía. */
body {
    font-family: 'PT Serif', serif;
    letter-spacing: 2px;
    word-spacing: 8px;
    text-shadow: 2px 2px 5px black;
}

/* Color de la etiqueta h1. */
h1 {
    color: var(--mi-color-personalizado);
}

/* Grosor de fuente, tamaño y alineación del texto. */
p {
    font-weight: 300;
    font-size: 1.2rem;
    text-align: justify;
}

li {
    display: inline-block;
}
